
<!DOCTYPE html>
<html lang="en">
    {{> head}}
<body>
    {{> navBar}} 

    <div class=row>
        <div class=col-md-8>
           <h1> BIEVENIDO</h1>
           <b>Todo es práctica</b>
           <p>El mítico jugador de fútbol Edson Arantes do Nascimento, más conocido como “ Pelé”, 
              una vez pronunció esta célebre frase motivadora. 
              En esos momentos en que pienses que no tienes suficiente habilidad para lograr algo, 
              recuérdate a ti mismo que “todo es práctica”. Nadie nace enseñado.</p>>
        </div>
        <div class=col-md-4>
            <img src="../assets/img/peruana.jpg" class="img-thumbnail" alt="Cinque Terre">
        </div>
    </div>
    {{> footer}}
</body>
</html>